@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject SignInManager<IdentityUser> SignInManager

@{
	bool isAdmin = false;

    if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        if (currentUser != null)
        {
            isAdmin = await UserManager.IsInRoleAsync(currentUser, "StoreManager");
        }
    }
}

@if (isAdmin) {
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateEditMovie">Add Movie</a>
	</li>
}
